/* General Styles*/

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background-color: #1f1f1f;
    color: #df4929;
}



.pushdown {
    margin-top: 55px;
}


h1, h2, h3  {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #df4929;
}

h5 {
    padding-top: 20px;
}

p {
    margin-top: 15px;
    background-color: #a7a7a7;
    color: #0a0a0a;
    padding: 10px;
    border-radius: 2%;
}

.btn {
    margin-bottom: 20px;
}

/* Header */

#overview {
    margin-top: 15px;
}

/*Header*/
header {
    background-color: #1f1f1f;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #1a1a1a;
}

.fa-bars {
    color: #df4929;
}


/* Navbar styles with dropdown toggle*/

nav {
    position: absolute;
    background-color: #1f1f1f;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}



/* Image Styles*/

.img-fluid {
    width: 100%;
    object-fit: contain;
}

/* Heading Styles */

.text-uppercase {
    font-family: "Roboto", sans-serif;
}

/*Footer*/

.social {
    
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #f05f40;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #df4929;
}