/* General Styles*/

body{
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

h1, h2, h3  {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Image Styles*/

.container-fluid {
    Padding: 0;
}

/* Heading Styles */

.text-uppercase {
    font-family: "Roboto", sans-serif;
}

/*Footer*/

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}